
@{
  ViewBag.Title = "Razor Review";


  var heading = "Using variables";
  string greeting = "Welcome APTECH Learning";
  int num = 103;
  DateTime today = DateTime.Today;

}

<h2>Razor Review</h2>




<h3>@heading</h3>
  <p>@greeting</p>
  <p>@num</p>
  <p>@today</p>

